.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.calculator{

    background-color: rgb(156, 156, 105);
    padding: 50px;
    text-align: center;
    border: 5px solid ;
    margin: 300px;   
    margin-left: 500px; 
    margin-right: 500px;
}

